* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.bg-blue {
  background: #233a95;
}

::-webkit-scrollbar{
  width: 8px !important ;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

::-webkit-scrollbar-track{
  background: transparent !important;

}
.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper {
  width: 200px; /* or any other desired width */
  margin-right: 20px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 150px;
  height: 60px;
  min-width: 150px;
}
.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start;
  color: black !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important ;
  border-radius: 7px !important;
  padding: 10px;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.6) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

header .headerSearch {
  width: 60%;
  height: 60px;
  background: #ffffff;
  padding: 10px;
  position: relative;
  border: radius 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}
header .headerSearch input {
  background: transparent !important ;
  outline: none !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 40px;
  border: 0px !important;
  padding: 0px 20px !important;
}

header .headerSearch button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: black;
}

header .headerSearch button svg {
  font-size: 25 px;
  opacity: 0. 8;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important ;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: black;
  margin-right: 20px;
}

header .part3 .circle svg {
  font-size: 22px;
}
.cartTab .price {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-right: 20px;
}
.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -2px; /* adjust the top value to move it slightly inside the bag */
  right: 12px; /* adjust the right value to move it slightly inside the bag */
  background-color: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}


.locationModal .MuiPaper-elevation{
 padding: 25px; 
}

.locationModal .countryList{
   margin-bottom: 0px;
   max-height: 400px;
   overflow-y: scroll;


}
.locationModal .countryList li{width: 100%;
list-style: none;

}

.locationModal  .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 15px 20px !important;
}

.locationModal .close_{
  position: absolute;
  top: 1 0px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius:  50% !important; 
}

.locationModal .close_  svg{
  font-size: 22px;

}
nav .navPart1{
 max-width: 20%;
 flex: 0 0 20%;

}

nav .navPart2{
  max-width: 80%;
  flex: 0 0 80%;
}

nav .allCatTab {
  background: #2bbef9;
  padding: 8px 15px !important;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 600;
}

nav .allCatTab .icon1 svg {
  font-size: 20 px !important;
}
nav .allCatTab .icon2 svg {
  font-size: 15 px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul {
  margin-bottom: 0px;
}

nav .navPart2 ul li a{text-decoration: none;}
nav .navPart2 ul li a button {
  font-size: 13 px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 15px;
  transition: all 0.2 s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}
